<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item Page</title>
</head>
<body>
    <%- include('partials/header.ejs') %>



    <h1>Edit Item Page</h1>
    <form class=form action="/items/<%= item._id %>?_method=PUT" method="POST"><br>
        Item : <input type="text" name="item" value="<%= item.item %>"><br>
        Brand: <input type="text" name="brand" value="<%= item.brand %>"><br>
        Description: <input type="text" name="Description" value="<%= item.description %>"><br>
        Quantity: <input type="text" name="quantity" value="<%= item.quantity %>"><br>
        Image: <input type="url" name="image" value="<%= item.image %>"><br>
        Price: $ <input type="number" name="price" value="<%= item.price %>"><br>
        Email: <input type="email" name="email" value="<%= item.email %>"><br>
        Phone: <input type="number" name="phone" value="<%= item.phone %>"><br>
        Sellers Name: <input type="text" name="seller" value="<%= item.seller %>"><br>



       
       
       
       
        Sold: <input type="checkbox" name="Sold" <%= item.sold ? 'checked' : '' %>><br>

        
        <input type="submit" value="Edit Item">  
    </form>


<%- include('partials/footer.ejs') %>
</body>
</html>
