<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>


</head>

<body>

    <div>
            <%- include('partials/header.ejs') %>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



    <main>

        <div class="container">







            <% items.forEach(b => { %>

            <div class="item">



                <p><%= b.item %></p>
                <p> Made By: <%= b.brand %></p>

                <a class="image" href="<%= b._id %>" target="<%= b.image %>" > 
                    <img src="<%= b.image %>" alt="item"
                        width="60px" height="60px" /> </a>

                <p>Price: $ <%= b.price %></p>

                
                <p><a href="mailto: <%= b.email %> ">Send Email to <%= b.seller %></a></p>
                
                <p>Phone: <%= b.phone %></p>

                <form action="/items/<%= b._id %>?_method=DELETE" method="POST">
                    <input width="25%" type="submit" value="DELETE "></form>

                    <br><br><br>

                    <button width="25%"><a href="/items/<%= b._id %>/edit">EDIT </a></button>


            </div>


            <% }) %>




        </div>



    </main>

    <%- include('partials/footer.ejs') %>


</body>

</html>