<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/skeleton.css" />
</head>
<body>

     <%- include('partials/header.ejs') %>

     <main> 




    <h1>My store List</h1>

       
    <div class="container">

        <% items.forEach(b => { %>
           

           
            <div class="row">

                <div class="one-half column">

           
           
           

                <h3> Item: <%= b.item %> </h3>
                <p>  Made By: <%= b.brand %></p>
                <p>  Description:  <%= b.description %></p>
                <img src=" <%= b.image %>" alt="Item Image" width="500" height="600">

                <p>Quantity: <%= b.quantity %> of these in stock</p>
                <p>Price: $ <%= b.price %></p>
    
                <p>Email: <a href = "mailto: <%= b.email %> ">Send Email to <%= b.seller %></a></p>


                <p>Phone: <%= b.phone %></p>
                <p>Seller Name: <%= b.seller %></p>
                

                
                
                    <form style="display: inline; margin-right: 1rem;" 
                    action="/items/<%= b._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE <%= b.item %> ">
                    

                        <button><a style="margin: 0 1rem 0 0;" href="/items/<%= b._id %>/edit">EDIT <%= b.item %> </a></button>


                </div>
            </div>

     
     



        <% }) %>

</div>
   
   
  
</main>

<%- include('partials/footer.ejs') %>


</body>
</html>
