<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Item Details</title>
</head>
<body>

    <h1>Details for <%= item.name %></h1>
    <p>Made By: <%= item.brand %></p>
    <p>Description: <%= item.description %></p>
    <a img src= <%= item.image %></a>
    <p>There are currently <%= item.qty %> of these in stock</p>
    <p><%= item.sold %></p>
    
    
    
    <a href="/items">Go back to item</a>
        <form action="/items/<%= item._id%>/buy" method="POST">
            <input <%= item.qty ? '' : 'disabled' %> type="submit" value="<%= item.qty ? 'Buy': 'Out of Stock' %>">
        </form> 
   
   
   
   
    </body>
</html>