<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Item Details</title>
</head>

<body>
    <div>
    <%- include('partials/header.ejs') %>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <main>
        <div class="container">

           <div class="item">
            <h1>Details for: <%= item.item %></h1>

                <p>Description: <%= item.description%></p>

                <img width="300em" height="300em" src="<%= item.image %>"> </img>

                <p>Price: $ <%= item.price %></p>

                <br>
                <p> <a target="popup" href="mailto: <%= item.email %> ">Send Email to <%= item.seller %></a></p>
                <br>
                <p>Phone: <a href="tel:<%= item.phone %>"></href><%= item.phone %></p>
                <br>




        <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE "></form> 


            <div style="padding: 5px;">

            <button><a href="/items/<%= item._id %>/edit">EDIT </a></button> </div>


</div>

</div>

    </main>


    <%- include('partials/footer.ejs') %>
</body>

</html>