<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Item Details</title>
</head>
<body>      
    <%- include('partials/header.ejs') %>

    <h1>Details for <%= item.item %></h1>
    <p>Made By: <%= item.brand %></p>
    <p>Description: <%= item.description %></p>
    <img src= "<%= item.image %>">
 
    <p>There are currently <%= item.qty %> of these in stock</p>
    <p><%= item.price %></p>
    <p><%= item.email %></p>
    <p><%= item.phone %></p>
    <p><%= item.seller %></p>

    
    
    
        <form action="/items/<%= item._id%>/buy" method="POST">
            <input <%= item.qty ? '' : 'disabled' %> type="submit" value="<%= item.qty ? 'Buy': 'Out of Stock' %>">
        </form> 
   
   
   
        <%- include('partials/footer.ejs') %>
    
    </body>
</html>